@import "./src/components/main/variable";
@import "./src/components/main/mixins";

.main{
  width: 100vw;
  height: 100vh;
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  @include desktop{
    position: relative;
  }

  &__logo{
    height: 350px;
    width: 350px;
    @include desktop{
      height: 600px;
      width: 600px;
      position: absolute;
      top: 40%;
      right: 25%;
    }
  }
}