@import "./src/components/main/variable";
@import "./src/components/main/mixins";
@import "../main/animation";

.interview{
  width: 100vw;
  @include desktop{
    padding: 0 20px;
    height: 100vh;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__slider{
    @include nextPrev;
  }
  &__color{
    color: $second-content;
  }
  &__content{
    @include desktop{
      display: flex; 
    }
  }
  &__foto{
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    object-fit: contain;
    @include desktop{
      width: 350px;
      height: 350px;
    }
  }
  &__box{
    width: 90%;
    margin: auto;
    @include desktop{
      height: 50vh;
      overflow-y: scroll;
    }
  }
  &__title{
    font-size: 1.8rem;
    color: $third-content;
    @include desktop{
      text-align: center;
      margin: 20px 0;
    }
  }
  &__text{
    color: $third-content;
    margin: 20px;
    font-size: 0.8rem;   
    font-style: italic;
    @include desktop{
      font-size: 1rem;
    }
  }
  &__question{
    color: $second-content;
    font-size: 1rem;
    font-style: normal;
  }
}
