@import "./src/components/main/variable";
@import "./src/components/main/mixins";
@import "../main/animation";

.interview{
  width: 100vw;
  @include desktop{
    height: 100vh;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__slider{
    color: $third-content;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: center;
    margin: 30px 0;
    font-size: 2rem;
    @include desktop{
      padding: 20px 20px;
    }
  }
  &__color{
    color: $second-content;
  }
  &__content{
    @include desktop{
      display: flex; 
    }
  }
  &__foto{
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    object-fit: contain;
    @include desktop{
      width: 350px;
      height: 350px;
    }
  }
  &__box{
    width: 90%;
    margin: auto;
    @include desktop{
      height: 80vh;
      overflow-y: scroll;
    }
  }
  &__title{
    font-size: 2.5rem;
    color: $third-content;
    @include desktop{
      text-align: center;
      margin: 20px 0;
    }
  }
  &__text{
    color: $third-content;
    margin: 20px;
    font-size: 1.3rem;   
    @include desktop{
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
  &__question{
    font-size: 1.5rem;
    font-weight: 500;
  }
}
