@import "./src/components/main/variable";
@import "./src/components/main/mixins";
@import "../main/animation";

.tasting{
  width: 100vw;
  padding: 50px 30px;
  @include desktop{
    height: 120vh;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  &__slider{
    @include nextPrev;
  }
  &__sliders{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }
  &__content{
    &__box{
      margin: 50px 0;
      display: flex;
      justify-content: center;
      @include desktop{
        float: left;
        margin: 10px 0;
      }
    }
  }
  &__color{
    color: $second-content;
  }
  &__foto{
    width: 400px;
    height: 400px;
    object-fit: contain;
    @include desktop{
      width: 600px;
      height: 600px; 
    }
  }
  &__title{
    font-size: 1.8rem;
    color: $third-content;
    text-align: center;
    @include desktop{
      margin: 20px 0;
      font-size: 2.5rem;
    }
  }
  &__text{
    font-family: 'Montserrat', sans-serif;
    color: $third-content;
    font-size: 0.8rem;
    margin: 15px 15px;
    @include desktop{
      font-size: 1rem;
    }
    &__heading{
      font-size: 1rem;
      font-weight: bold;
      @include desktop{
        font-size: 1.5rem;
      }
    }
  }
}
