@import "variable";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'League Gothic';
  background: $main-color;
  overflow-x: hidden;
}
