@import "./src/components/main/variable";
@import "./src/components/main/mixins";

.rums{
  width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px;
  @include desktop{
    height: 100vh;
    background-color: $main-color;
  }
  &__info{
    transition: 1s;
    position: absolute;
    background-color: $main-color;
    top: 0;
    left: -100%;
    width: 100vw;
    padding: 50px 10px;
    z-index: 2;
    @include desktop{
      height: 100vh;
      background: $main-color;
    }
    &__shadow{
      position: absolute;
      top: -100%;
      left: 0;
      width: 100vw;
      height: 530vh;
      background: rgba(0, 0, 0, 0.5);
      z-index: -1;
      @include desktop{
        height: 350vh;
      }
    }
    &__hide{
      font-family: 'League Gothic';
      color: $third-content;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
      cursor: pointer;
      font-size: 1.8rem;
      @include desktop{
        font-size: 2.2rem;
      }
    }
  }
  &__content{
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin: 10px;
    @include desktop{
      width: 200px;
      height: 200px;
    }
  }
  &__foto{
    width: 300px;
    height: 300px;
    margin: 15px auto;
    display: block;
    @include desktop{
      float: left;
      width: 450px;
      height: 450px;
      margin: 0 20px;
    }
  }
  &__title{
    color: $third-content;
    font-size: 1.8rem;
  }
  &__text{
    color: $third-content;
    font-size: 0.8rem;
    margin: 15px 0;
    &__heading{
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
.color{
  &__hide{
    color: $second-content;

  }
  &__heading{
    color: $second-content;
    font-weight: bold;
  }
}
