@import "./src/components/main/variable";
@import "./src/components/main/mixins";

.rums{
  width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px;
  @include desktop{
    height: 100vh;
    background-color: $main-color;
  }
  &__info{
    transition: 1s;
    position: absolute;
    background-color: $main-color;
    top: 0;
    left: -100%;
    width: 100vw;
    padding: 50px;
    @include desktop{
      height: 100vh;
    }
    &__hide{
      color: $third-content;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
      cursor: pointer;
      @include desktop{
        font-size: 2.2rem;
      }
    }
  }
  &__content{
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin: 10px;
  }
  &__foto{
    width: 200px;
    height: 200px;
    @include desktop{
      width: 500px;
      height: 500px;
    }
  }
}

.hide__color{
  color: $second-content;
}
